.cartBanner {
  position: relative;
  height: 360px;
  text-shadow: 10px 10px 3px #000000;
}

.cartBanner::before {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-image: url(https://github.com/Fan662/Second-hand-clothing-platform/blob/master/images/%E8%B3%BC%E7%89%A9%E8%BB%8A/alexas_fotos-pnGjbJEmU3o-unsplash.jpg?raw=true);
  background-position: center 30%;
  background-size: cover;
  z-index: -1;
  opacity: 0.8;
}

.cartImg {
  height: 300px;
}

.fa-trash {
  size: 50%;
}
