.loginBanner {
  position: relative;
  height: 360px;
  text-shadow: 10px 10px 3px #000000;
}
.loginBanner::before {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-image: url(https://github.com/Fan662/Second-hand-clothing-platform/blob/master/images/%E7%99%BB%E5%85%A5%E8%A8%BB%E5%86%8A/nico-smit-QnkzvFCxKrA-unsplash.jpg?raw=true);
  background-position: center 22%;
  background-size: cover;
  z-index: -1;
  opacity: 0.8;
}
