.promotionsBanner {
  position: relative;
  height: 360px;
  text-shadow: 10px 10px 3px #000000;
}
.promotionsBanner::before {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-image: url(https://github.com/Fan662/Second-hand-clothing-platform/blob/master/images/%E5%95%86%E5%93%81%E5%9C%96%E7%89%87/%E9%99%90%E6%99%82%E7%89%B9%E5%83%B9%E5%95%86%E5%93%81/aron-visuals-BXOXnQ26B7o-unsplash.jpg?raw=true);
  background-position: center;
  background-size: cover;
  z-index: -1;
  opacity: 0.8;
}

.hrPromotions {
  position: relative;
}
.hrPromotions::before {
  content: "";
  background-color: #445a49;
  position: absolute;
  top: 50%;
  left: 22%;
  width: 17%;
  height: 2px;
}
.hrPromotions::after {
  content: "";
  background-color: #445a49;
  position: absolute;
  top: 50%;
  right: 22%;
  width: 17%;
  height: 2px;
}

.sticky-top {
  top: 80px;
}

.promotionsList img {
  width: 330px;
  height: 360px;
}
