.promotionsBanner {
  position: relative;
  height: 360px;
  text-shadow: 10px 10px 3px #000000;
}
.promotionsBanner::before {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-image: url(../圖片/商品分類/限時特價商品/aron-visuals-BXOXnQ26B7o-unsplash.jpg);
  background-position: center;
  background-size: cover;
  z-index: -1;
  opacity: 0.8;
}

.hrPromotions {
  position: relative;
}
.hrPromotions::before {
  content: "";
  background-color: #445a49;
  position: absolute;
  top: 50%;
  left: 22%;
  width: 17%;
  height: 2px;
}
.hrPromotions::after {
  content: "";
  background-color: #445a49;
  position: absolute;
  top: 50%;
  right: 22%;
  width: 17%;
  height: 2px;
}

.sticky-top {
  top: 80px;
}

.promotionsList img {
  width: 330px;
  height: 360px;
}
