* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a {
  text-decoration: none;
  color: black;
}
h1 {
  font-size: 40px;
}
nav ul {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
nav li {
  list-style: none;
}
.banner {
  background-image: url(./圖片/商品分類/burgess-milner-OYYE4g-I5ZQ-unsplash.jpg);
  background-position: center;
  background-size: 100%;
  height: 360px;
  opacity: 80%;
}
h2 {
  text-align: center;
  padding-top: 10px;
  font-size: 40px;
  color: white;
  text-shadow: 10px 10px 3px #000000;
}
.clothes1 {
  display: flex;
  justify-content: center;
  padding-top: 70px;
}
.manT-Shirt {
  width: 30%;
  padding-right: 5px;
}
.womanT-Shirt {
  width: 30%;
  padding-left: 5px;
}
.shirt {
  width: 25%;
}
.clothes2 {
  display: flex;
  justify-content: center;
}
.manCoatPants {
  width: 25%;
}
.limitedTime {
  width: 35%;
  padding: 0px 5px 0px 5px;
}
.womanCoatPants {
  width: 25%;
}
.clothes3 {
  display: flex;
  justify-content: center;
  padding-bottom: 70px;
}
footer {
  background-color: antiquewhite;
}
footer ul {
  display: flex;
  justify-content: center;
  padding: 30px;
}
footer ul li {
  list-style: none;
}
.contact {
  border-right: 2px solid gray;
  padding: 20px 30px 20px 20px;
  font-weight: bold;
  font-size: 20px;
}
.facebook,
.email {
  padding: 13px 0px 10px 30px;
}
footer p {
  text-align: center;
  padding: 0px 0px 20px 30px;
}
